<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- animes -->

<section id="team" class="pb-5  ">
  <div class="container ">
    <h5 class="section-title h1 ">Animes</h5>
    <div class="row ">
      <!-- card de animes -->
      <div class="col-xs-12 col-sm-6 col-md-4  " *ngFor='let anime of data'>
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" [src]="anime.imagenes.diminuta" alt="card anime">
                  </p>
                  <h4 class="card-title">{{anime.titulos.en}}</h4>
                  <p class="card-text">Sinopsis:{{anime.synopsis}}</p>
                  <p class="card-text text-danger">Señala la imagen para mas informacion</p>

                </div>
              </div>
            </div>

            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <!--Preguntar a juanan para los enlaces  youtube ¡solucionado!-->
                  <h4 class="card-title">Title:{{anime.titulos.en}}/Title Japan:{{anime.titulos.ja_jp}} </h4>

                  <youtube-player videoId={{anime.youtubeVideoId}} suggestedQuality="highres" [height]="200"
                    [width]="300" [startSeconds]="0" [endSeconds]="400" >
                  </youtube-player>
                  <p class="text-info">Nº de episodios: {{anime.numero_Episodios}}</p>
                  <p class="text-success">Duracion de epidosios: {{anime.duracion_Episodios}}"</p>
                  <p class="text-danger">Guia de clasificacion: {{anime.edad_Recomendada}}</p>
                  <!-- <p>Agregar a favoritos</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Team -->
