<!--migas de pan-->
<div class="row">

  <div class="col-md-8 m-3">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/almacen otaku']">almacen Otaku</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/almacen-otaku','animes']">Anime</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/almacen-otaku','mangas']">Manga</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/registro']">Contacto</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/contacto']">Registro</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/perfil']">Perfil</a>
        </li>

      </ol>
    </nav>
  </div>

</div>
<!--alerta de registro-->
<div class="row">
  <div *ngIf="!logado" class="col-md-8 ">
    <div class="alert alert-success alert-dismissible fade show">
      <strong>¡Atencion!</strong>Disfruta de las ventajas de ser usuario <strong> <a
          [routerLink]="['/registro']">Registrate</a>
      </strong> para conocerlas :)
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span>&times;</span>
      </button>
    </div>
  </div>

  <div *ngIf="logado" class="col-md-8 ">
    <div class="alert alert-success alert-dismissible fade show">
      <strong>¡Bienvenido! Usuario</strong> Estas logeado,puedes entrar en tu personal<strong> <a
          [routerLink]="['/perfil']">Aqui</a>
      </strong> Arigato :)
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span>&times;</span>
      </button>
    </div>
  </div>
  <!--slider-->
  <h2 class="text-center textoCabecera">Agregados recientemente</h2>
  <div class="container">
    <div class="row ">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/imagenes/XU3LBXRII5EWFHT6CLXYY5TLR4.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class=" text-primary ">Vuelven los clasicos mas esperados</h5>
              <p class=" text-warning">De nuevo con nosotros,clasicos como Naruto,full metal alchemist,Death note,estos
                y
                mas clasicos
                remasterizados...</p>
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="assets/imagenes/imagen2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class=" text-primary">Nueva temporada de Tokyo Ghoul</h5>
              <p class=" text-warning">La saga del escritor de renombre Sui Ishida,vuelve con una temporada
                mas,¿sabremos por fin el
                desenlace
                del origen de Kaneki Ken?No te pierdas este contenido tan interesante.</p>
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="assets/imagenes/imagen3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class=" text-primary">Nuevo contenido de los mangas y animes mas esperados de la temporada,¡Recien
                sacado del horno otaku a
                tu casa!</h5>
              <p class=" text-warning">De nuevo con nosotros,clasicos como Naruto,full metal alchemist,Death note,estos
                y mas clasicos
                remasterizados...</p>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="previo sr-only">Previo</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class=" proximo sr-only">Proximo</span>
        </a>
      </div>
    </div>
    <!--fin de slider-->
    <hr>
    <h2 class="text-center titulo_novedades">Ultimas novedades</h2>
    <hr>
    <!--Acordeon de ultimas novedades-->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              <p> One Piece retoma su emisión el próximo 28 de junio y su simulcast en Crunchyroll</p>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <p>Ya tenemos fecha de regreso, tras el parón por la situación mundial, del anime de One Piece . Es otro de
              los esperados regresos con la emisión de nuevos episodios que se retomarán el próximo domingo 28 de junio
              y
              que podremos continuar disfrutando en el simlucast oficial de la serie en castellano a través de
              Crunchyroll, plataforma donde también tenemos disponibles todas las sagas hasta Water 7, esperando que
              muy pronto incluyan las que faltan entre ésta y la última.</p>
            <span><img src="http://misiontokyo.com/wp-content/uploads/2019/12/One-Piece-1.jpg" alt="One peace"></span>
            <p> Monkey. D. Luffy se rehusa a que nadie se interponga en su camino por la búsqueda para convertirse el
              rey
              de todos los piratas. Con un camino trazado por las traicioneras aguas del Grand Line y más allá, se
              trata
              de un capitán que nunca se dará por vencido hasta que consiga el tesoro más grande de la Tierra: el
              Legendario One Piece.</p>


          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              <p> Toda la primera serie de Fairy Tail en un único pack a la venta el 15 de julio</p>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Selecta Visión reedita en un único pack toda la primera serie de Fairy Tail en DVD a un precio
              increible,
              a la venta el próximo 15 de julio.

              Una serie de fantasía épica deslumbrante basada en el famoso manga de Hiro Mashima. La joven maga Lucy
              Heartfilia siempre ha soñado con ingresar en el gremio Fairy Tail, donde se dan cita los magos más
              poderosos y al mismo tiempo indisciplinados del mundo. En su camino se topa con Natsu Dragneel, un
              descarado mago que resulta ser un miembro de ese infame gremio. Natsu acompañado por el gato Happy, anda
              embarcado en la búsqueda de su padre adoptivo, el dragón Igneel, desaparecido hace años. Tras aceptar su
              invitación, Lucy se une a Natsu, Gray y Erza en un grupo disfuncional que resulta ser el equipo más
              poderoso y audaz de Fairy Tail siempre y cuando son capaces de dejar de lado sus diferencias. Aunque
              también es el más temido, ya que son famosos por los destrozos que causan en las ciudades en las que
              actúan…</p>
            <img src="http://misiontokyo.com/wp-content/uploads/2020/06/Fairy-Tail-Primera-Temporada-Completa-DVD.jpg"
              alt="Fairy tail">
            <ul>
              <li>Edición Pack Gigante 30 DVDs.</li>
              <li>175 episodios (Temporada completa).</li>
              <li>Edita: Selecta Visión</li>
              <li>Precio: 69,99 €</li>
              <li>Imagen: 16:9</li>
              <li>Audio: Dolby Digital 2.0 Castellano y Japonés</li>
              <li>Subtítulos: Castellano</li>
              <li>Extras: Opening, Ending</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <p>IVREA licencia el manga de Konosuba! God Blessing on this Wonderful World</p>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <img src="http://misiontokyo.com/wp-content/uploads/2020/06/Nichijou_Manga_Cover_1.jpg" alt="konosuba">
            <p>A través de sus redes sociales, IVREA anuncia la licencia del manga Konosuba! God Blessing on this
              Wonderful World. Kono Subarashii Sekai ni Shukufuku wo!, más conocida como Konosuba! (このすば) es uno de los
              isekai más populares de la última década por ser una obra divertida y desternillante.</p>
            <img class="w-75" src="http://misiontokyo.com/wp-content/uploads/2020/06/Eat5HNfXgAA0DJh.jpg"
              alt="konosuba">
            <p>La mítica serie de novelas ligeras escritas por Natsume Akatsuki e ilustradas por Kurone Mishima
              llegará en su adaptación manga que cuenta con la colaboración del guionista original, Natsume Akatsuki,
              el dibujo de Masahito Watari y el diseño personajes de Kurone Mishima.

              El manga comenzó a publicarse en la revista Dragon Age (Fujimo Shodo) en 2014 sumando hasta la fecha un
              total de 11 volúmenes recopilatorios. La obra también ha sido adaptada en versión anime por Studio Denn
              con 2 temporadas cada una con 10 capítulos, más un OVA. Además, cuenta con una película titulada
              KonoSuba: God’s Blessing on this Wonderful World! Legend of Crimson y realizada por el estudio J.C.
              Staff.

              IVREA estrenará la obra con las novedades del próximo mes de julio en tomos dobles (2 en 1, con unas
              400 páginas por cada libro), en formato B6, con algunas páginas a color y a un precio de 14 euros.

              Kazuma Sato es un hikikomori que disfruta como un bellaco con los videojuegos, el manga y el anime. Un
              día decide salir de su casa, sufre un desafortunado accidente y fallece. Cuál es su sorpresa al ver que
              aparece en un limbo junto a una diosa llamada Aqua que le ofrece enviarlo a un nuevo mundo con tintes
              roleros y -además- concederle un deseo. Pero antes, Aqua se ocupa de humillarlo porque la muerte que él
              pensaba que había sido heroica salvando a una chica de ser atropellada, resulta ser lo más patética y
              cutre que te puedas echar a la cara. Lo único que se le ocurre al bueno de Kazuma es usar su deseo para
              que Aqua lo acompañe al nuevo mundo y se una a él en sus peripecias para derrotar al Rey Demonio. Ella,
              a su pesar, le toca hacerle compañía y ponerse pesada con sus tonterías.</p>
          </div>
        </div>
      </div>
    </div>
    <!--Acordeon de ultimas novedades-->
  </div>
